[Unit]
Description=Node Aeternity middleware - calculating what the node does not
Documentation=https://ae.criesca.net/
After=mongod.service
Requires=mongod.service

[Service]
ExecStartPre=/bin/sleep 15
Type=simple
User=root
ExecStart=/usr/bin/node /opt/middleware/middleware.js
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
