[Unit]
Description=Node Aeternity middleware server - http/https server for the aeternity middleware
Documentation=https://ae.criesca.net/
After=mongod.service
Requires=mongod.service

[Service]
ExecStartPre=/bin/sleep 15
Type=simple
User=root
ExecStart=/usr/bin/node /opt/middleware/middleware-server.js
#Restart=on-failure
Restart=always
RuntimeMaxSec=259200

[Install]
WantedBy=multi-user.target
